<p id="notice"><%= notice %></p>

<h1>Listing Faculties</h1>

<table>
  <thead>
    <tr>
      <th>Cod</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
        <td><%= faculty.cod %></td>
        <td><%= faculty.name %></td>
        <td><%= link_to 'Show', faculty %></td>
        <td><%= link_to 'Edit', edit_faculty_path(faculty) %></td>
        <td><%= button_to 'Eliminar', faculty, :method => :delete,class: 'btn red'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Faculty', new_faculty_path %>
