<p id="notice"><%= notice %></p>

<p>
  <strong>Facultad:</strong>
  <%= @school.faculty %>
</p>

<p>
  <strong>Cod.:</strong>
  <%= @school.cod %>
</p>

<p>
  <strong>Carrera:</strong>
  <%= @school.name %>
</p>

<%= link_to 'Editar', edit_school_path(@school) %> |
<%= link_to 'Volver', schools_path %>
