<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> No es posible guardar este ramo:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% @schools = School.all%>
  <%= f.label "Carrera" %><br>
  <select name="course[school_id]" class="browser-default">
    <% @schools.each do |school| %>
      <option value="<%=school.id%>"><%=school.id%> - <%=school.name%></option>
    <% end %>
  </select><br>
  <div class="field">
    <%= f.label :cod %><br>
    <%= f.number_field :cod %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :kind %><br>
    <%= f.number_field :kind %>
  </div>
  <div class="field">
    <%= f.label :difficulty %><br>
    <%= f.number_field :difficulty %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
