<p id="notice"><%= notice %></p>

<p>
  <strong>Carrera:</strong>
  <%= @course.school %>
</p>

<p>
  <strong>Cod.:</strong>
  <%= @course.cod %>
</p>

<p>
  <strong>Ramo:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @course.kind %>
</p>

<p>
  <strong>Dificultad:</strong>
  <%= @course.difficulty %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @course.description %>
</p>

<%= link_to 'Editar', edit_course_path(@course) %> |
<%= link_to 'Volver', courses_path %>
