<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @course.school %>
</p>

<p>
  <strong>Cod:</strong>
  <%= @course.cod %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @course.kind %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @course.difficulty %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<%= link_to 'Editar', edit_course_path(@course) %> |
<%= link_to 'Volver', courses_path %>
